
@media screen and (min-width: 1080px) and (max-width: 1280px) {

	.esriOuterContainer {
		width: 100%;
		margin: 0px auto;
		height: 100%;
		background: #e5f1f9;
	}

	.esriMapBookContainer {
		width: 87%;
		margin: 0px auto;
		float: left;
	}

	.esriNext {
		background: #e5f1f9;
		float: left;
		height: 100%;
		width: 6%;
	}

	.esriPrevious {
		background: #e5f1f9;
		float: left;
		height: 100%;
		width: 6%;
	}


	.esriNextImage, .esriNextDisabled, .esriPrevDisabled, .esriPreviousImage {
		top: 41%;
	}

	.dijitTextBox {
		width: 70%;
	}
	.esriSettingLabel {
		width: 29%;
	}

}

@media screen and (min-width: 768px) and (max-width: 1080px) {

	.esriOuterContainer {
		width: 100%;
		margin: 0px auto;
		height: 100%;
		background: #e5f1f9;
	}

	.esriMapBookContainer {
		width: 87%;
		margin: 0px auto;
		float: left;
	}

	.esriNext {
		background: #e5f1f9;
		float: left;
		height: 100%;
		width: 6%;
	}

	.esriPrevious {
		background: #e5f1f9;
		float: left;
		height: 100%;
		width: 6%;
	}

	.esriTitleListDiv {
		width: 80% !important;
	}

	.esriNextImage, .esriNextDisabled, .esriPrevDisabled, .esriPreviousImage {
		top: 41%;
		width: 40px !important;
	}
	.dijitTextBox {
		width: 70%;
	}
	.esriSettingLabel {
		width: 29%;
	}
}

@media screen and (min-width: 641px) and (max-width:767px) {

	.esriOuterContainer {
		width: 100%;
		margin: 0px auto;
		height: 100%;
	}

	.esriMapBookContainer {
		width: 87%;
		margin: 0px auto;
		float: left;
		background: #e5f1f9;
	}

	.esriNext {
		background: #e5f1f9;
		float: left;
		height: 100%;
		width: 6%;
	}

	.esriPrevious {
		background: #e5f1f9;
		float: left;
		height: 100%;
		width: 6%;
	}

	.esriTitleListDiv {
		width: 80% !important;
	}

	.esriNextImage, .esriNextDisabled, .esriPrevDisabled, .esriPreviousImage {
		width: 40px;
		top: 41%;
	}
	.dijitTextBox {
		width: 65%;
	}
	.esriSettingLabel {
		width: 34%;
	}
}

@media screen and (max-width:640px) {

	.esriOuterContainer {
		width: 100%;
		margin: 0px auto;
		height: 100%;
	}

	.esriMapBookContainer {
		width: 87%;
		margin: 0px auto;
		float: left;
		background: #e5f1f9;
	}

	.esriNext {
		background: #e5f1f9;
		float: left;
		height: 100%;
		width: 6%;
	}

	.esriPrevious {
		background: #e5f1f9;
		float: left;
		height: 100%;
		width: 6%;
	}

	.esriNextImage, .esriNextDisabled, .esriPrevDisabled, .esriPreviousImage {
		width: 40px;
		top: 41%;
	}

	.esriMapBookListContainer {
		width: 100%;
	}
	.esriBookContainer {
		width: 33% !important;
	}
	.esriTitleListDiv {
		width: 70% !important;
	}
	.dijitTextBox {
		width: 60%;
	}
	.esriSettingLabel {
		width: 39%;
	}
}

@media screen and (max-width:1280px) {
	.esriBookContainer {
		width: 20%;
	}
}

@media screen and (max-width:850px) {
	.esriBookContainer {
		width: 25%;
	}
}

@media screen and (max-width:480px) {
	.esriBookContainer {
		width: 50% !important;
	}
}
@media screen and (max-width:320px) {
	.esriBookContainer {
		width: 100% !important;
	}
}
