html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-size: 11px;
	font-family: Arial;
	color: #6E6E6E;
}

.esriCTFullHeightWidth {
	width: 100%;
	height: 99.6%;
}


.esriCTFullWidth {
	width: 100%;
}

.esriCTFullHeight {
	height: 100%;
}

.esriCTZeroHeight {
	height: 0px !important;
}

.esriHeaderDiv {
	height: 48px;
	border-bottom: 1px solid #007ac2;
	background: #007ac2;
}



.esriRightMenu {
	position: absolute;
	right: 0px;
	display: inline;
	top: 0px;
	height: 48px;
}

.esriMapBookContainer {
	width: 90.9%;
	margin: 0px auto;
	height: 100%;
	background: #fff;
	border: 1px solid #007ac2;
	position: relative;
	overflow: hidden;
	float: left;
}

#mapBookHeaderContainer {
	border-left: 1px Solid #007ac2;
	border-right: 1px Solid #007ac2;
}

.esriMapBookHeader {
	position: absolute;
	line-height: 40px;
	color: #fff;
	font-size: 17px;
}

.esriMapBookTitle {
	line-height: 48px;
	float: left;
	margin-left: 15px;
}

.esriSaveIcon, .esriDownloadIcon, .esriRefreshIcon, .esrihomeButtonIcon, .esriNewPageIcon, .esriEditIcon, .esriTocIcon, .esriDeleteIcon, .esriNewPageIcon {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	margin: 0 12px;
	padding: 10px 12px;
	float: left;
}
.esriRefreshIcon {
	margin: 0 0px;
}
.esriTocIcon {
	margin: 0 0px;
}

.esrihomeButtonIcon {
	background-image: url('../images/home.png');
}

.esriNewPageIcon {
	background-image: url('../images/newPage.png');
}

.esriSaveIcon {
	background-image: url('../images/save.png');
}

.esriDownloadIcon {
	background-image: url('../images/save.png');
}

.esriRefreshIcon {
	background-image: url('../images/refresh.png');
}

.esriEditIcon {
	background-image: url('../images/edit.png');
}

.esriTocIcon {
	background-image: url('../images/toc.png');
}

.esriDeleteIcon {
	background-image: url('../images/delete.png');
}

.esriHeaderIconSelected {
	background-color: #005f97;
}

.esriMapBookContent {
	border-top: none;
	background-image: url('../images/bg.png');
	background-repeat: repeat;
	background-position: TOP CENTER;
	width: 100%;
	display: table;
}

.esriMapBookListContainer {
	margin: 0 auto;
	height: 204px;
	width: 92%;
}
.esriBookContainer {
	width: 20%;
	min-width: 150px;
	float: left;
}
.esriMapBookList {
	background-image: url('../images/map-book-bg.png');
	background-repeat: no-repeat;
	background-position: TOP CENTER;
	cursor: pointer;
	font-family: georgia;
	font-size: 19px;
	height: 159px;
	margin: 45px auto 0;
	text-align: center;
	width: 115px;
}

.esriOuterContainer {
	width: 100%;
	margin: 0px auto;
	height: 100%;
}

.esriNext {
	background: #e5f1f9;
	float: left;
	height: 100%;
	visibility: hidden;
}

.esriPrevious {
	background: #e5f1f9;
	float: left;
	height: 100%;
	visibility: hidden;
}

.esriNextImage {
	float: right;
	background-image: url('../images/right-arrow.png');
	width: 60px;
	background-repeat: no-repeat;
	text-align: center;
	height: 93px;
	background-position: 50%;
	cursor: pointer;
	position: relative;
	top: 45.5%;
}

.esriNextDisabled {
	background-image: url('../images/right-arrow-disable.png') !important;
}

.esriPrevDisabledEditMode {
	background-image: url('../images/left-arrow-disable.png') !important;
}

.esriNextDisabledEditMode {
	background-image: url('../images/right-arrow-disable.png') !important;
}

.esriPrevDisabled {
	float: left;
	background-image: url('../images/left-arrow-disable.png') !important;
}

.esriPreviousImage {
	float: left;
	background-image: url('../images/left-arrow.png');
	width: 60px;
	background-repeat: no-repeat;
	text-align: center;
	height: 93px;
	background-position: 50%;
	cursor: pointer;
	position: relative;
	top: 45.5%;
}

.esriMapcontentPages {
	border-top: none;
	background: #fff;
	clear: both;
	overflow: hidden;
}

.esriMapcontentEditPages {
	border-top: none;
	background: #fff;
	clear: both;
}
/* Map Book Page style 1 */

.esriLeftCoverPageContent {
	float: left;
	width: 50%;
	height: 100%;
}

.esriRightCoverPageContent {
	float: left;
	width: 50%;
	height: 100%;
}

.esrimapCoverPage {
	padding: 25px;
}

.esrimapCoverPage img {
	width: 100%;
	height: 280px;
}

.esriMapContentText {
}

.esriMapTitle {
	font-size: 30px;
	font-weight: bold;
	font-family: georgia, 'times new roman' , serif;
	margin-bottom: 25px;
}
/*#########style 1*/

/*page style 2*/
.esriMapcontentInnerPages {
	padding: 25px;
}

.esriMapcontentInnerClsDiv {
	clear: both;
}

.esriLeftPageContent {
	float: left;
	width: 40%;
}

.esriRightPageContent {
	margin-left: 43%;
}

.esrimapInnerPageMap img {
	width: 100%;
	height: 280px;
}

.esribottomImageGalleryBox {
	float: left;
	width: 100%;
	margin-top: 15px;
}

.esribottomImageGallery {
	float: left;
	margin-right: 20px;
}
/* //style 2 */

/*page style 3*/
.esriLeftPageContentPage3 {
	float: left;
	width: 25%;
}

.esriRightPageContentPage3 {
	margin-left: 28%;
}

.esrimapInnerPageMapPage3 img {
	width: 100%;
	height: 400px;
}

/* //style 3 */

/*page style 5*/
.esriLeftPageContentPage5 {
	float: left;
	width: 60%;
}

.esriRightPageContentPage5 {
	margin-left: 63%;
}


/* //style 5 */

.enabled {
	display: block;
}

.disabled {
	display: none;
}

.esriMapAuthor {
	padding: 25px 0;
	font-weight: Bold;
}

.esriLeftTopPanelCoverPage {
	padding: 25px 0 25px 25px;
	height: 90%;
}

.esriMapContentBox {
	height: 80%;
}

.esriLeftTopPanel {
	padding: 25px;
}

.esriBottomPanel {
	padding: 25px;
	position: absolute;
	bottom: 0;
}

.esriLogo {
	background-image: url('../images/esri_logo_mi.png');
	width: 100px;
	height: 40px;
}


.esriLeftEditPageContent {
	float: left;
	width: 46%;
	padding: 25px;
}

.esriRightEditPageContent {
	margin-left: 50%;
	padding: 25px;
}


.esriEditableTitle {
	margin-bottom: 25px;
	font-size: 24px;
	height: 60px;
	overflow: hidden;
	vertical-align: top;
	padding: 8px;
}

.esriEditableContent {
	overflow: hidden;
	vertical-align: top;
	padding: 8px;
}

.esriEditableAuther {
	margin-bottom: 25px;
	vertical-align: top;
	padding: 8px;
}

.esriEditableDateTime {
	margin-bottom: 25px;
	vertical-align: top;
	padding: 8px;
}

.esriEditableMapArea {
	margin-bottom: 25px;
	height: 275px;
	overflow: hidden;
	vertical-align: top;
	padding: 8px;
}

.esribottomBox {
	width: 80px;
	float: left;
	height: 50px;
	margin-right: 20px;
}

.esriEditableContentSelectTmpBox {
	margin-bottom: 25px;
	height: 210px;
	overflow: hidden;
	vertical-align: top;
	padding: 8px;
}

.esriEditableContentSelectBottom {
	margin-bottom: 25px;
	height: 25px;
	overflow: hidden;
	vertical-align: top;
	padding: 8px;
}

.esriBookTabBar {
	float: left;
	clear: both;
	width: 100%;
	border-bottom: 1px solid #007ac2;
}

.esriBookTabBarLeft {
	float: left;
	background: #dadada;
}

.esriBookTabBarRight {
	float: right;
}

.esriCoverPageTab {
	float: left;
	padding: 10px 0 10px 10px;
}

.esriCoverPageTab span {
	float: left;
	margin-right: 10px;
	cursor: pointer;
	border: 1px solid #dadada;
}

.esriCoverPageTab span.select {
	border: 1px solid #007AC2;
}

.esriAddPage {
	background: #fff9e2;
	border: 1px solid #fae9c6;
	padding: 20px;
	margin: 6px;
}

.esriAddImg {
	padding: 5px 15px;
}

.esriDragAndDropPanel {
	float: left;
	width: 100%;
	background: #eef6fb;
	border-bottom: 1px solid #007ac2;
	clear: both;
}

.esriDragAndDropTitle {
	color: #007AC2;
	float: left;
	font-weight: bold;
	padding: 10px;
}

.esriDragAndDropIcon {
}

.esriDragAndDropIcon span {
	float: left;
	padding: 7px 10px;
	border-left: 1px solid #eef6fb;
	border-right: 1px solid #eef6fb;
	cursor: pointer;
}



.esriDragAndDropIcon span.select {
	float: left;
	padding: 5px 10px;
	background: #fff;
	border-left: 1px solid #dae3e8;
	border-right: 1px solid #dae3e8;
}

/*select template */
.esriSelectTemplateTitle {
	font-size: 16px;
	padding: 15px;
	color: #000;
}

.esriTemplateSample {
	border-bottom: 1px solid #e0e0e0;
	clear: both;
	float: left;
	width: 100%;
}

.esriTemplateBox {
	border: 1px solid #e0e0e0;
	padding: 15px;
	width: 221px;
	float: left;
	margin: 0 15px 15px 15px;
}

.esriTemplateBox:hover {
	border: 1px solid #007AC2;
}

.esriSampleHeader {
	padding: 10px;
	background: #d4f1bc;
}

.esriSampleContent {
	margin: 5px;
	width: 100%;
}

.esriSampleContentLeft {
	float: left;
	width: 48%;
	margin-right: 4%;
}

.esriSampleContentTitle {
	padding: 10px;
	background: #dddddd;
	margin-top: 15px;
}

.esriTextLineBox {
	margin-top: 15px;
}

.esriTextline {
	padding: 2px;
	background: #dddddd;
	margin: 8px 0;
}

.esriSampleContentRight {
	float: left;
	width: 48%;
}

.esriSampleRightbox {
	background: #daf1fe;
	height: 72px;
	margin-top: 15px;
}

.clear {
	clear: both;
}

.esriCancel {
	float: left;
	margin: 15px;
	cursor: pointer;
	color: #007AC2;
}

.esriContinue {
	float: right;
	margin: 15px;
	background: #007AC2;
	color: #fff;
	padding: 5px 10px;
	cursor: pointer;
}

/* //select template*/
/*esri menu*/
.Menuleftpanel {
	float: right;
}

.esriBookMenuItem {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #007AC2;
	position: relative;
	top: 40px;
	padding: 15px;
}

.listMenuTitle {
	font-weight: bold;
}

ol.list {
	margin: 0px;
	padding: 5px 20px;
}

ol.list li {
	padding: 5px 0;
	color: #007AC2;
}

ol.list li a {
	color: #007AC2;
	cursor: pointer;
	text-decoration: none;
}


.esriContentListDiv {
	height: 42px;
	line-height: 40px;
	font-size: 14px;
	cursor: pointer;
	border-bottom: 1px solid #e0e0e0;
}

.esriOneColumnLayout {
	width: 100%;
	float: left;
	padding-top: 5px;
}

.esriTwoColumnLayout {
	width: 50%;
	float: left;
	padding-top: 5px;
}

.esriThreeColumnLayout {
	width: 33%;
	float: left;
	padding-top: 5px;
}

.esriArialFont {
	font-family: Arial;
	font-size: 14px;
}

.esriGeorgiaFont {
	font-family: Georgia;
	font-size: 23px;
}
.esriTitleFontSize {
	font-size: 35px;
	line-height: 35px;
}
.esriContentListPanelDiv {
	height: 94%;
	right: 0px;
	background-color: #fff;
	color: #007AC2;
	top: 49px;
	z-index: 41;
	position: absolute;
	overflow: hidden;
	right: -300px;
	transition: right .30s;
	transition-property: right;
	transition-duration: .30s;
	-webkit-transition-property: right;
	-webkit-transition-duration: .30s;
	width: 300px !important;
}

.esriContentListHeaderDiv {
	color: #000;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	padding: 0 8px;
	overflow: hidden;
}

.esriContentPanelOpened {
	right: 0px;
	border-left: 1px solid #007ac2;
	border-collapse: collapse;
}

.esriTitleListDiv {
	float: left;
	display: inline-block;
	width: 88%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #007ac2;
	font-size: 14px;
}

.esriTitleIndexDiv {
	margin: 0px 5px;
	float: left;
	width: 20px;
	display: inline-block;
	color: #007ac2;
}

.esriMapcontentPages .esriTOCcontainer {
}

.esriContentListDiv .esriTOCcontainer {
	padding: 5px 0px;
}

#divContentList .esriContentListDiv {
	font-size: 13px;
	margin-left: 10px;
}

.esriMapBookLogo {
	width: 40px;
	float: left;
	height: 40px;
	background-image: url('../images/mapbookIcon.png');
	background-position: -3px -3px;
	background-repeat: no-repeat;
	margin: 5px 0 0 15px;
}

.esriMapBookUList {
	list-style: none;
	transition: 300ms;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	margin-left: 0px;
	padding: 0px;
	margin-top: 0px;
}

.esriMapBookPageListItem {
	display: table-cell;
	vertical-align: top;
	overflow: hidden;
}

.esriMapBookPage {
	position: relative;
	height: 100%;
	float: left;
	overflow: auto;
}

.esriMapBookPageTitle {
	padding: 8px 15px 8px 15px;
	margin: 20px 20px 0px 20px;
	font-size: 23px;
	height: 25px;
	line-height: 25px;
	font-family: georgia;
}

.esriModuleTitle, .esriModuleCaption {
	font-family: Arial !important;
	font-size: 13px;
	font-style: italic;
}

.esriModuleTitle {
	padding: 0px 0px 2px 0px;
}

.esriModuleCaption {
	padding: 1px 0 0 0;
}

.esriMapContainer {
	height: 85%;
}

.imgfullMapView {
	width: 30px;
	height: 30px;
	background: url('../images/maximize.png');
	background-color: #007ac2;
	float: left;
	cursor: pointer;
}


.imgLegend {
	width: 30px;
	height: 30px;
	background: url('../images/legend.png');
	background-color: #007ac2;
	float: right;
	cursor: pointer;
}

.mapContentImgs {
	position: absolute;
	width: 100%;
}

.mapBtnsMAP {
	position: absolute;
	z-index: -1;
}

#divContentList {
	padding: 5px 0px;
}

#mapBookScrollContent {
	overflow: auto;
}

.map .container {
	height: 100% !important;
	width: 100% !important;
}

.esriPaginationDiv {
	width: 100px;
	text-align: center;
	color: #6e6e6e;
	margin: auto;
}
.esriBookTitlediv {
	padding-top: 28px;
	height: 40px;
	overflow: hidden;
}
.esriBookTitledivInner {
	display: table;
	font-family: times new roman;
	font-size: 16px;
	margin: 0 auto;
	width: 115px;
}
.esriBookTitle {
	color: #FFFFFF;
	display: table-cell;
	padding: 0 0px;
	height: 40px;
	vertical-align: middle;
	text-align: center;
}

.esriBookAuthor {
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	overflow: hidden;
	padding: 0 5px;
	font-size: 14px;
	line-height: 18px;
	margin: 72px auto 0;
	color: #fff;
	font-family: times new roman;
}

.esriLegendContainer {
	width: 50%;
	max-width: 250px;
	right: -51%;
	height: 65%;
	max-height: 250px;
	top: 30px;
	z-index: 40;
	font-size: 13px;
	font-family: Arial;
	background-color: #fff;
	position: absolute !important;
	overflow: auto;
	border: 1px solid #007ac2;
	border-collapse: collapse;
	transition: right .30s;
	transition-property: right;
	transition-duration: .30s;
	-webkit-transition-property: right;
	-webkit-transition-duration: .30s;
}

.esriLegendContainerOpen {
	right: 0px;
	padding: 10px;
}

.esriLayoutDiv {
	padding: 10px 15px 5px 15px;
	margin: 10px 20px 5px 20px;
}

.esriMapBookColContent {
}

.esriEditableModeContent {
	border: 1px dashed #007ac2;
}
.esriEditableModeContent:hover {
	border: 1px solid #007ac2;
}
.esriLayoutDiv0 {
	padding: 10px 10px 5px 15px;
	margin: 10px 10px 10px 20px;
}

.esriLayoutDiv1 {
	padding: 10px 15px 5px 10px;
	margin: 10px 20px 10px 10px;
}

.esriLayoutDiv2 {
	padding: 10px 15px 5px 15px;
	margin: 5px;
}

h2 {
	margin: 0px;
}

.esriFullMap {
	position: absolute;
	height: 100%;
	z-index: 70;
	width: 100%;
	padding: 0px;
	margin: -49px 0px 0px 0px;
	background-color: #fff;
	display: none;
}

.esriFullMap .esriLegendContainer {
	border-right: none;
}

.esriMapContainer .esriLegendContainer {
	border: 1px solid #007ac2;
}

.esriCloseFullViewIcon {
	background-image: url('../images/close.png') !important;
	background-repeat: no-repeat;
}

.esriSimpleSlider {
	border: none;
	border-radius: 0;
	display: none;
	color: #fff;
}

.esriSimpleSlider div {
	font-weight: normal !important;
}

.esriSimpleSliderTL {
	top: 55px;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton, esriSimpleSliderIncrementButton:hover {
	border-bottom: none;
	border-radius: 0;
	background-color: #007ac2;
	margin-bottom: 2px;
}

.esriSimpleSliderVertical .esriSimpleSliderDecrementButton, esriSimpleSliderDecrementButton:hover {
	border-radius: 0;
	margin-top: 2px;
	background-color: #007ac2;
}

.HomeButton {
}

.HomeButton .home {
	width: 26px;
	height: 26px;
	background-color: #007ac2;
	border-radius: 0;
	background-image: url('../images/homeExtent.png') !important;
}

.HomeButton .home:hover {
	background-color: #007ac2;
	border-radius: 0;
}

.esriMapBookEditPage {
	display: none; /*height: 100px;*/
	height: auto;
	width: 100%;
	position: absolute;
	top: 48px;
	z-index: 40;
	background-color: #fff;
}

.esriEditPageBody {
	height: 100%;
	padding: 5px 15px;
	overflow: auto;
	display: none;
}

.esriEditPageHeader {
	float: left;
	width: 100%;
	background-color: #dadada;
}

.esriEditPageImg {
	width: 90px;
	height: 90px;
	margin: 3px 2px;
	vertical-align: middle;
	border: 2px solid transparent;
}

.esriEditPageOptionList {
	float: left;
	padding: 0px 3px;
	background-color: #dadada;
}

.esriAddNewPageImg {
	height: 65px;
	background: url('../images/add-Page.png') center no-repeat;
}

.esriAddNewPageDiv {
	margin: 4px;
	width: 90px;
	height: 90px;
	float: right;
	border: 1px solid #f5db9e;
	text-align: center;
	background-color: #fff9e2;
	cursor: pointer;
}

.esriAddNewPageLabel {
	font-size: 13px;
}

.esriFullImage {
	position: absolute;
	height: 100%;
	z-index: 40;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #fff;
	display: none;
	overflow: auto;
}

.esriCloseFullViewIcon {
	background-image: url('../images/close.png') !important;
	background-repeat: no-repeat;
}

.innerDiv {
	position: relative;
}

.esriImgFullimage {
	width: 30px;
	height: 30px;
	background: url('../images/maximize.png');
	background-color: #007ac2;
	float: left;
	cursor: pointer;
}

.esriImgDesc {
	width: 30px;
	height: 30px;
	background: url('../images/legend.png');
	background-color: #007ac2;
	float: right;
	cursor: pointer;
}

.esriImageModule {
	position: absolute;
	float: left;
	z-index: 0;
}

.imgImg {
	position: absolute;
	height: 100px;
	width: 100%;
}

.mapLoadingIndicator {
	background: white;
	height: 100%;
	display: table;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.mapLoadingIndicatorImage {
	background-position: center center;
	vertical-align: middle;
	height: 100%;
	height: 30px;
	width: 30px;
	display: table-cell;
	background-image: url('../images/loadingIndicator.gif');
	background-repeat: no-repeat;
}

.imgFlickrLeft {
	width: 30px;
	height: 100%;
	background: url('../images/pre.png')no-repeat center;
	background-color: #007ac2;
	float: left;
	cursor: pointer;
}

.imgFlickrRight {
	width: 30px;
	height: 100%;
	background: url('../images/next.png') no-repeat center;
	background-color: #007ac2;
	float: right;
	cursor: pointer;
}

.esriFlickrImage {
	height: 200px;
}

.esriFlickrIcon {
	height: 200px;
}

.esriTemplateContainer {
	height: 170px;
	display: inline-block;
	width: 30%;
	margin: 10px;
	padding: 10px 3px;
	text-align: center;
}

.esriTemplateImage {
	height: 100%;
	width: 100%;
}

.esriTemplateImg0 {
	background-image: url('../images/temp1.png');
}

.esriTemplateImg1 {
	background-image: url('../images/temp2.png');
}

.esriTemplateImg2 {
	background-image: url('../images/temp3.png');
}

.esriTemplateImg0Selected {
	background-image: url('../images/temp1-select.png') !important;
}

.esriTemplateImg1Selected {
	background-image: url('../images/temp2-select.png') !important;
}

.esriTemplateImg2Selected {
	background-image: url('../images/temp3-select.png') !important;
}

.esriContinueBtn {
	width: 100px;
	height: 30px;
	float: left;
	color: #fff;
	background-color: #007ac2;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

.esriCancelBtn {
	width: 100px;
	height: 30px;
	float: right;
	color: #fff;
	background-color: #007ac2;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

.esriEditPageFooter {
	height: 50px;
	padding: 0px 30px;
}

.esriFooterDiv {
	bottom: 0px;
	display: table;
	height: 40px;
	position: absolute;
	width: 100%;
	color: #fff;
	line-height: 30px;
	padding: 0 10px;
	display: none;
}

.dojoxBadge {
	z-index: 0;
}


.esriDragAndDropPanel {
	float: left;
	width: 100%;
	background: #eef6fb;
	border-bottom: 1px solid #007ac2;
	clear: both;
}
.esriDragAndDropTitle {
	color: #007AC2;
	float: left;
	font-weight: bold;
	padding: 10px;
}
.esriDragAndDropIcon {
}

.esriDragAndDropWebmapIcon {
	background-image: url('../images/map.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.esriDragAndDropTextareaIcon {
	background-image: url('../images/text-area.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.esriDragAndDropVideoIcon {
	background-image: url('../images/add-video.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.esriDragAndDropImageIcon {
	background-image: url('../images/add-picture.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.esriDragAndDropCopyIcon {
	background-image: url('../images/copy-code.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.esriDragAndDropFlickrIcon {
	background-image: url('../images/flickr.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}


.esriPageTitle {
	color: Black;
}

.esriPopup .titlePane {
	background-color: #007ac2;
	border-color: #007ac2 !important;
}

.esriMapBookAuthor {
	font-weight: bold;
	color: Black;
}
.esriPageSliderContent {
	float: left;
	width: 84%;
	overflow: hidden;
	background-color: #fff;
}
.esriPageSliderContainer {
	height: 100px;
	margin-right: 125px;
	margin-left: 202px;
}
.esriPageSliderLeft, .esriPageSliderRight {
	width: 40px;
	height: 100px;
	float: left;
}


.esriPageSliderUlist {
	list-style: none;
	margin: 0px;
	padding: 0px;
	transition: 300ms;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	margin-left: 0px;
}
.esriPageSliderListItem {
	display: table-cell;
}
.esriPageSliderDiv {
	background-color: #fff;
	height: 90px;
	width: 95px;
	margin: 4px 3px;
	font-size: 15px;
	text-align: center;
	border: 2px solid #dadada;
}

.esriLeftArrowIcon {
	background: url('../images/left-arrow.png') no-repeat center center;
	height: 90px;
	width: 40px;
}
.esriLeftArrowDisable {
	background: url('../images/left-arrow-disable.png') no-repeat center center !important;
}
.esriRightArrowDisable {
	background: url('../images/right-arrow-disable.png') no-repeat center center !important;
}
.esriRightArrowIcon {
	background: url('../images/right-arrow.png') no-repeat center center;
	height: 90px;
	width: 40px;
}
.esriPageSelected {
	border: 2px solid #007ac2 !important;
}
.esriTimeSlider {
	z-index: 999;
	position: absolute;
	bottom: 45px;
	border: 1px solid #ccc;
	height: 48px;
	background: #fff;
	display: none;
	background-color: #007ac2;
	color: #fff;
}

.esriFullMap .esriTimeSlider {
	display: block !important;
}
.esriTimeSlider table {
	margin: 10px;
	display: inline-table;
	vertical-align: middle;
}

.dj_a11y div.dijitSliderImageHandle, .dijitSliderImageHandle, .dijitButtonNode, .dijitSliderBar, .dijitRuleMark {
	border-color: #fff !important;
}
